.chat_info_alert {
  margin: 25px 0 !important;
}

.chat_message_container {
  &.me {
    align-self: end;

    .message_time {
      font-size: 10px;
      text-align: end;
    }
  }

  &.you {
    align-self: start;

    .message_time {
      font-size: 10px;
      text-align: start;
    }
  }
}

.message_time {
  font-size: 10px;
}

p.title {
  margin-bottom: 0;
}

.chat-member__name {
  font-weight: 400;
}