.chat_info_alert {
  margin: 25px auto;
  list-style: none;
  text-align: center;
}

.chat_message_container {
  margin: 7px 0;

  &.me {
    align-self: end;

    .message_time {
      font-size: 10px;
      text-align: end;
    }
  }

  &.you {
    align-self: start;

    .message_time {
      font-size: 10px;
      text-align: start;
    }
  }

  &.saved_container {

    // background: orange;
    .saved {
      background: orange !important;
    }
  }
}

.chat__time {
  &.center {
    text-align: center;
  }
}

.chat__list-messages {
  overflow: hidden !important;
}

.message_time {
  font-size: 10px;
}

p.title {
  margin-bottom: 0;
}

.chat-member__name {
  font-weight: 400;
}

.chat-member__status {
  margin: 0px;
  font-weight: 700;

  span {
    color: #32bc32;
  }
}

.chat__loading {
  display: flex;
  justify-content: center;
}

.btn-link {
  color: #3996fb;
  outline: none;
  border: none;
  background: none;
  font-weight: 400;
}

.chat__list-messages {
  padding-left: 0 !important;
}

.circle-green {
  background: #1dc64d;
  width: 9px;
  height: 9px;
  display: inline-block;
  border-radius: 50%;
}

.online-users-count {
  font-size: 12px;
}